$blue-dark: #3a60a6;
$green-dark: #1b7e48; // was #209957;
$sand-dark: #b3a459;
$brick-dark: #b35236;
$blue-bright: #4c7cd9;
$green-bright: #2ac971;
$sand-bright: #d9c76c;
$brick-bright: #d96341;
$blue-muted: #8da7d9;
$green-muted: #83c9a3;
$sand-muted: #d9ce98;
$brick-muted: #d9856d;
$background: #ffedc7;
$background-light: #fff3db;
$off-white: #fffcf5;
$success: #3bd536;
$warning: #ffdf40;
$error: #ff5726;
$grey-dark: #4a4a4a;
$grey-medium: #aaaaaa;
$grey-light: #eaeaea;
