$blue-dark: #3A60A6;
$green-dark: #209957;
$sand-dark: #B3A459;
$brick-dark: #B35236;
$blue-bright: #4C7CD9;
$green-bright: #2AC971;
$sand-bright: #D9C76C;
$brick-bright: #D96341;
$blue-muted: #8DA7D9;
$green-muted: #83C9A3;
$sand-muted: #D9CE98;
$brick-muted: #D9856D;
$background: #FFEDC7;
$background-light: #FFF3DB;
$off-white: #FFFCF5;
$success: #3BD536;
$warning: #FFDF40;
$error: #FF5726;
$grey-dark: #4A4A4A;
$grey-medium: #AAAAAA;
$grey-light: #EAEAEA;